{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11",
            ">5% in US"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}